# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/settings.json

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env